.starProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vw;
}

.starProduct > a {
  text-decoration: none;
  margin: 1vmax;
  transition: .5s;
}

.starProduct > a:hover{
    box-shadow: 0 0 10px rgb(184, 184, 184);
  }

.starProduct > a > img {
  width: 30vmax;
}
